.c7-btn,
.button,
.gform_button,
button{
	font-family: $title-font-family;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	background: $black;
	color: $white;
	padding: 5px 30px;
	// font-size: 1rem;
	min-height: 35px;

	@media #{$large-up}{
		// font-size: 1.125rem;
		padding: 5px 50px;
	}

	&:hover,&:focus,&:active{
		color: $white;
		background: $black;
		text-decoration: none;
	}

	&--inline-block{
		display: inline-block;
	}
} // button

.alt-button{
	font-family: $title-font-family;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	position: relative;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.7s ease-out;

	&:after{
		content: '';
		width: 24px;
		height: 11px;
		margin-left: 8px;
		position: relative;
		display: block;
		background-image: url('images/icons/arrow.svg');
		transition: all 0.7s ease-out;
	}

	&--white{
		color: $white;
		&:after{
			background-image: url('images/icons/arrow-white.svg');
		}
	} // white alt btn

	&:hover{
		text-decoration: none;

		&:after{
			margin-left: 12px;
		}
	}
} // alt button (with arrow)

.center-button{
	text-align: center;
}

.c7-btn--alt:not([disabled]):active, 
.c7-btn--alt:not([disabled]):focus, 
.c7-btn--alt:not([disabled]):hover, 
.c7-btn--alt--small:not([disabled]):active, 
.c7-btn--alt--small:not([disabled]):focus, 
.c7-btn--alt--small:not([disabled]):hover{
	border: 1px solid $black;
	color: $black;
}

.c7-btn--alt:not([disabled]), 
.c7-btn--alt:not([disabled]), 
.c7-btn--alt:not([disabled]), 
.c7-btn--alt--small:not([disabled]), 
.c7-btn--alt--small:not([disabled]), 
.c7-btn--alt--small:not([disabled]){
	border: 1px solid $black;
}

.c7-btn--primary:not([disabled]):active, 
.c7-btn--primary:not([disabled]):focus, 
.c7-btn--primary:not([disabled]):hover, 
.c7-btn--primary--small:not([disabled]):active, 
.c7-btn--primary--small:not([disabled]):focus, 
.c7-btn--primary--small:not([disabled]):hover{
	border: 1px solid $black;
	color: $black;
}

.c7-btn--primary:not([disabled]), 
.c7-btn--primary:not([disabled]), 
.c7-btn--primary:not([disabled]), 
.c7-btn--primary--small:not([disabled]), 
.c7-btn--primary--small:not([disabled]), 
.c7-btn--primary--small:not([disabled]){
	border: 1px solid $black;
}

.underlined-link{
	font-family: $title-font-family;
	font-weight: 700;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	position: relative;

	@media #{$medium-up}{
		line-height: 13px;
	}

	&:after{
		pointer-events: none;
		position: absolute;
		left: 0;
		bottom: -1px;
		background-image: url('images/icons/link_underline.png');
		background-size: 100% 3px;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 3px;
		content: '';
		transform: translate3d(0, 0, 0);
		transform-origin: left;
		transition: all 0.3s ease-out;

		@media #{$medium-up}{
			bottom: -5px;
		}
	} // after

	&:hover{
		text-decoration: none;

		&:after{
			animation-name: underline;
			animation-duration: 1s;
			animation-iteration-count: 1;
		} // after
	} // hover
} // underlined-link


@keyframes underline{
	0% {
	  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}
	100%{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}