.modal {
    display: none;
    position: relative;

    &.is-open{
        // display: block;
        z-index: 99999;
    }

    h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
}
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: $white;
    padding: 30px 20px 20px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid $black;
    
    @media #{$medium-up}{
        min-width: 434px;
    }
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
    opacity: 0.4;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $black;
    padding: 0;
    margin-left: 15px;
    transition: all 0.3s ease-out;
    position: relative;
    top: -22px;
    right: -7px;

    &:hover,&:active{
        opacity: 1;
        background: transparent;
        color: $black;
    }
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 1rem;

    .c7-form__buttons{
        display: block;
    }

    .c7-account-login__password-options{
        margin-top: 35px;
    }

    .c7-form input[type="text"], 
    .c7-form input[type="email"],
    .c7-form input[type="number"], 
    .c7-form input[type="tel"], 
    .c7-form input[type="username"], 
    .c7-form input[type="password"], 
    .c7-form textarea, .c7-form--stripe, 
    .c7-order-item input, .c7-form select, 
    .c7-order-item select{
        border: 1px solid $black;
    }
  }

  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }