body.home{
    header.header{
        opacity: 0;
        z-index: 111;
        pointer-events: none;
        position: fixed;
        transition: all 0.7s ease-out;

        &.active{
            opacity: 1;
            pointer-events: initial;
        }
        

        .c7-user-nav__account > a, 
        .c7-user-nav__cart > button,
        .home__request__header__logo,
        .c7-account__logout_link,{
            color: $white;
        }

        a.home__request__header__logo svg{
            fill: $white;
        }

        a.c7-user-nav__account__login:after,
        a.c7-user-nav__account__name:after,
        a.c7-account__logout_link:after{
            background-image: url('images/icons/link_underline_white.png');
        }

        &.light{
            .c7-user-nav__account > a, 
            .c7-user-nav__cart > button,
            .home__request__header__logo,
            .c7-account__logout_link{
                color: $black;
            }  

            a.home__request__header__logo svg{
                fill: $black;
            }
        }

        .home__request__header__logo{
            @media #{$small-only}{
                max-width: 50%;
            }
    
            svg{
                @media #{$small-only}{
                    max-width: 100%;
                }
            }
        } // logo
    } // header

    main#content{
        background-color: $black;
    }

    section{
        position: relative;
        width: 100%;
        min-height: 100vh;  
        
        @media screen and (min-width: 40.0625em) and (max-height: 45.8125em){
            min-height: 37.5em; // 600px
        }
    
        &.black-bg{
            color: $white;
    
            *{
                color: $white;
            }
        }
    
        &.white-bg{
            // background: $white;
        }
    }
} // home body class



.home__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    padding: 0;

    &__logo{
        display: block;
        margin: 0 auto;
        max-width: 75%;
        margin-top: 60px;

        @media #{$medium-up}{
            max-width: 400px;
            max-width: 53vw;
            width: 100%;
            margin-top: 8vw;
        }

        img{
            width: 100%;
        }
    } // logo (a)

    &__desktop{
        display: none;
        width: 100%;
        margin: auto;

        @media #{$medium-up}{
            display: block;
            max-width: 1800px !important;
            padding: 0;
        }
    } // desktop (image placeholder)

    &__mobile{
        display: block;
        // margin: 12vw auto 0;
        margin: auto;
        max-width: 90% !important;
        width: 100%;

        @media #{$medium-up}{
            display: none;
        }
    } // mobile (image placeholder)

} // home__video section

.home__stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; 
    
    @media #{$medium-up}{
        padding-top: 0;
    }

    &__images{
        // max-width: 90%;
        // width: 90%;
        margin: 0 auto;
        position: relative;
        width: 80%;
        height: 90vh;
        min-height: 500px;

        @media #{$medium-up}{
            margin: auto;
            // width: 70vw;
            width: 120vh;
            max-width: 70vw;
            height: 100vh;
            min-height: 500px;
        }

        img{
            position: absolute;
        }

        &__1{
            width: 90%;
            top: 55%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: relative !important;
        }

        &__2{
            width: 90%;
            top: 50%;
            left: 44%;
            transform: translate(-50%,-50%);
        }

        &__3{
            width: 84%;
            right: 2%;
            top: 50%;
            transform: translate(0,-50%);
        }

        &__4{
            width: 80%;
            right: -3%;
            top: 54%;
            transform: translate(0,-50%);
        }

        &__5{
            right: 0;
            top: 45%;
            width: 100%;
            transform: translate(0,-50%);
        }
    } // images

    &__text{
        max-width: 90%;
        width: 100%;
        // margin: 20vw auto 30vw;
        margin: 0 auto 30vw;

        @media #{$medium-up}{
            max-width: 610px;
            margin: 14vw auto;
        }

        p{
            font-weight: 300;
            color: $white;
            letter-spacing: 0.01em;
            font-size: clamp(1rem, 0.598rem + 1.286vw, 1.563rem);
            line-height: 120%;
            
            &:last-of-type{
                margin-bottom: 0;
            }
        } // p
    } // text
} // home__stack section

.home__people{
    display: flex;
    flex-direction: column;
    z-index: 4;
    // overflow: hidden; 

    &__bg{
        position: absolute;
        right: 0;
        top: 0%;
        opacity: 0.07;
        pointer-events: none;
        width: 100%;

        @media #{$medium-up}{
            right: 0;
            top: -56%;
            width: 47%;
        }
    } // bg illustration

    &__content{
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 90%;
        width: 100%;
        align-items: center;
        padding: 10rem 0;

        @media #{$medium-up}{
            flex-direction: row;
            flex-wrap: wrap;  
            max-width: 85%;
            padding: 6rem 0;
        }
    } // content

    &__image{
        width: 100%;

        @media #{$medium-up}{
            width: 45%;
        }
    } // image

    &__text{
        width: 100%;
        max-width: 100%;
        margin: 50vw auto 25vw;

        @media #{$medium-up}{
            width: 50%;
            max-width: 537px;
            padding: 0 1rem;
            margin: auto;
            position: relative;
        }
    } // text

    .alt-button{
        margin-top: 1.5rem;
    }

    &__bg__bottom{
        position: absolute;
        bottom: 0;
        right: 2%;
        pointer-events: none;
        width: 42%;
        transition: all 1s ease-out;
        // opacity: 0;

        @media #{$medium-up}{
            left: 50%;
            right: initial;
            bottom: 0;
            width: initial;
            transform: translateX(-50%);
            width: 30vw;
        }
    }
} // home__people section

.home__stack2{
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding-top: 5rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        max-width: 90%;
        width: 100%;
        align-items: flex-start;
        padding: 10rem 0 0;
        position: relative;

        @media #{$medium-up}{
            padding: 9rem 0 0;
            max-width: 85%;
            // margin-bottom: -2400px;
            // margin-top: -50px;
        }
    } // stack2 content

    &__text{
        width: 100%;
        max-width: 100%;
        margin: 6vw auto 33vw;
        position: relative;
        bottom: -100vh;

        @media #{$medium-up}{
            width: 40%;
            max-width: 432px;
            padding: 0 1rem; 
            margin: 6vw auto auto;

        }
    } // stack2 text

    &__stack{
        position: relative;
        
        @media #{$medium-up}{
            width: 55%;
            left: 2%;
        }

        &__images{
            max-width: 90%;
            width: 80%;
            margin: 0 auto 10vw;
            position: relative;
    
            @media #{$medium-up}{
                margin: auto;
                width: 45vh;
                height: auto;
                max-width: 60vw;
            }

            // Medium up and min-height of 863px
            @media screen and (min-width: 40.0625em) and (min-height: 53.9375em){
                width: 65vh;
                max-width: 60vw;
                min-height: 500px;
            }
    
            img{
                position: absolute;
            }
    
            &__1{
                left: 50%; 
                top: 1%;
                width: 88%;
                position: relative !important;
                transform: translateX(-50%);
            }
    
            &__2{
                top: -65px;
                left: 20px;
                width: 100%;
            }
    
            &__3{
                width: 96%;
                left: -10%;
                top: 19%;
                
                @media #{$medium-up}{
                    left: -50px;
                }
            }
    
            &__4{
                // width: 80%;
                right: 0;
                left: 0;
                top: 0;
                width: 100%;
            }
        } // images

        &__text{
            text-align: center;
            position: relative;
            bottom: -4rem;
            left: 50%;
            transform: translateX(-50%);
            // since the child element is also absolute, we need to give this a width and height
            width: 200px;
            height: 30px;

            @media #{$medium-up}{
                
            }

            > div{
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: all 0.2s ease-out;

                &.active{
                    opacity: 1;
                }
            }

            p{
                font-family: $title-font-family;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.13em;
                text-transform: uppercase;
                margin-bottom: 5px;

                &:last-of-type{
                    margin-bottom: 0;
                }
            } // p
        } // image stack2 text
    } // stack

    .alt-button{
        margin-top: 1.5rem;
    }
} // home__stack2 section

.home__almanac{
    display: flex;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
    padding: 6rem 0;
    // margin-top: -900px;

    @media #{$medium-up}{
        padding: 0;
        margin-top: -1400px;
    }

    &__image{
        width: 72%;

        @media #{$medium-up}{
            width: 50%;
            height: 100vh !important;
            object-fit: cover;
        }
    } // image

    &__title{
        position: absolute;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        left: 40vw;
        top: 102vw;

        @media #{$medium-up}{
            left: 46%;
            top: 65vh;
        }

        @media screen and (min-width: 40.0625em) and (max-height: 45.8125em){
            margin-top: -9vh;
        }

        h2{
            padding: 2rem 2.5rem;
            font-size: clamp(1.67rem, .75rem + 2.4vw, 3.05rem)
        }
        
        span{
            position: absolute;
            left: 0;
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        span.top-line{
            top: 0;
            height: 17px;
            background-image: url('images/icons/top_line.svg');
        }

        span.bottom-line{
            bottom: 13px;
            height: 13px;
            background-image: url('images/icons/bottom_line.svg');

        }
    } // title

    &__text{
        width: 100%;
        max-width: 90%;
        margin: 35vw auto;

        @media #{$medium-up}{
            width: 50%;
            max-width: 537px;
            margin: auto;
            padding: 0 1rem;
            position: relative;
            bottom: -40vh;
        }

        .home__logged-out{
            padding-top: 1.75rem;

            p{
                font-family: $title-font-family;
                font-weight: 700;
                font-size: 11px;
                line-height: 15px;
                letter-spacing: 0.13em;
                text-transform: uppercase;
            } // p
        } // logged out div
    } // text
} // home__almanac section

.home__request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;

    &__header{
        width: 100%;
        max-width: 90%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 0 auto;

        @media #{$medium-up}{
            max-width: 98%;
        }

        .admin-bar &{
            padding-top: 1rem;
        }

        &__login{
            font-size: 11px;
            line-height: 20px;
            text-transform: uppercase;
        }

        .c7-account__logout_link{
            font-size: 11px;
            line-height: 20px;
            text-transform: uppercase;
        }

        &__logo{
            margin-right: auto;
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-family: $title-font-family;
        } // logo
    } // header

    &__text{    
        width: 100%;
        max-width: 90%;
        margin: auto;

        @media #{$medium-up}{
            width: 50%;
            max-width: 537px;
            padding: 0 1rem;
            margin: auto;
        }

        h3{
            font-size: 14px;
            line-height: 18px;
            
            @media #{$medium-up}{
                font-size: 15px;
                line-height: 20px;  
            }
        } // h3

        &__counter{
            margin: 1.75rem 0;
            font-family: $script-font-family;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.01em;
        } // counter

        .alt-button{
            // margin-top: 1.5rem;
        }
    } // text
    
} // home__request section